/*
 * Overrides CSS
 */
@font-face {
    font-family: 'montserratbold';
    src: url('/templates/089-standard/fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratmedium';
    src: url('/templates/089-standard/fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandregular';
    src: url('/templates/089-standard/fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*debugging alt-tags bei images - rausnehmen bei Go-Live! */
  img[alt=""],
  img:not([alt]) {
    border: 5px dashed #c00

  }
body#body textarea:focus,
body#body input:focus,
body#body button:focus {
    outline: none;
}
/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}

/*css variablen*/
:root {
    --first-color: #3c93fa;
    --second-color: #1915bd;
    --red-color: #e90500;
}
@media(min-width: 800px) {
  body.desktop .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
}
/* critical CSS */
body {
    font-family: 'montserratregular';
    animation:fadein .3s ease-in-out forwards;
      -webkit-animation:fadein .3s ease-in-out forwards; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

.clr {
    clear: both;
}
body.desktop {
    font-size: 16px;
}
body#body a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}
h1 {
    font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
}
h2,
.item-page .page-header h2 {
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320) ));    
}
.not_home .item-page .page-header h2 {
    text-transform: uppercase;
}

/*content*/
body.site a.pathway {
    color: #4792ff;
}
body#body span.icon-chevron-right {
    display: none;
}
body#body a.btn {
    background: var(--first-color);
    text-shadow: none;
    color: #fff;
    font-style: normal;
    box-shadow: 0px 4px 30px -5px #4d77b5;
}
.item-page.leistungDetail ul {
    list-style-position: inside;
}
div#module_92 iframe {
    width: 100%;
}
.item-page.leistungDetail {
    min-height: 60vh;
    margin-bottom: 30px;
}
body.blog .pull-left.item-image {
    margin: 0px 0px 15px 0px;
}
.pull-left.item-image {
    margin: 0px 15px 15px 0px;
}
body#body.is_home .ap_ajax_qc textarea {
    height: 30px;
}
body.desktop .ap_ajax_qc {
    margin: 0px 0 0 -50px;
}
body.tablet .ap_ajax_qc {
    margin: 0px 0 0 -40px;
}
body.desktop .ap_ajax_qc label {
    margin-left: 40px;
}
body#body.desktop .ap_ajax_qc input.dsgvoCheckBox {
    margin-left: calc(10% + 40px) !important;
}
body.desktop .kontaktAdresse:first-child {
    margin-right: 80px;
}
.kontaktAdresse strong {
    font-size: 17px;
}
body.desktop .kontaktAdresseWrapper,
body.tablet .kontaktAdresseWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.blog,
.item-page.kontakt {
    margin-bottom: 60px;
}
body.desktop .partnerLinks,
body.tablet .partnerLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 80px 0;
  }
.item-page.ueberUns .item-image {
    margin-right: 30px;
}
/*.item-page.ueberUns .articleBody {
    text-align: right;
}*/
.item-page.ueberUns h1:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -10px;
    right: 0;
    background: #000;
}
body.mobile .item-page.ueberUns h1:after {
    bottom: 10px;
}
body.desktop .item-page.ueberUns h1 {
    position: relative;
}
body.desktop .item-page.home .page-header {
    margin: 0;
    padding: 0;
}
body.desktop .item-page.ueberUns h1,
body.desktop .item-page .page-header {
    margin-top: 0px;
    padding: 20px 0;
}
body.site.itemid-168 .page-header {
    position: relative;
}
body.desktop.itemid-165 .item-page .page-header {
    padding-top: 0px;
}
body.itemid-165 .item-page .page-header h2 {
    margin-top: 0px;
}
.memberDetails h2,
.teamContent h2 {
      color: #3c93fa;
      margin-top: 0px;
}
body.desktop.itemid-167 .item-page.team {
    margin: 0px auto;
}
body.desktop.itemid-167 .aboveTheFoldWrapper {
/*    height: 100vh;*/
    background: #fff;
    z-index: 1;
    position: relative;    
}
body.itemid-166 .aboveTheFoldWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}
body.itemid-166 .aboveTheFoldWrapper:after {
    background: url(/images/fuhrpark-bckgr.jpg) top left no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    opacity: 1;
    position: absolute;
    content: '';
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}
.item-page.fuhrpark h1 span,
.item-page.stellenangebote h1 span,
.itemid-167 h1 span {
    display: none;
}
.item-page.lagerraeume .page-header h2:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -10px;
    left: 0;
    background: #000;
}
.item-page.lagerraeume .page-header h2 {
    max-width: 190px;
    line-height: 35px;
    position: relative;
}
body.itemid-165 .aboveTheFoldWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}
body.itemid-165 .aboveTheFoldWrapper:after {
    background: url(/images/lager-bckgr.jpg) top left no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    opacity: 1;
    position: absolute;
    content: '';
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}
body.desktop .item-page.lagerraeume {
    margin: 70px 0;
}
.lagerraeume .articleBody {
    padding: 0 15px 0 0;
}
body.not_home .page-header h1 {
    text-align: right;
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320) ));
}
body.not_home .page-header h1 span {
    font-size: calc(12px + (16 - 12 ) * ((100vw - 320px) / (1920 - 320) ));
    text-transform: none;
}
.blog .item-image {
    margin-bottom: 15px;
}
body#body a.btn.kontaktStart {
    margin: 20px 0px 0px;
    font-size: 18px;
    padding: 10px 20px;
}
body#body button:not(.btn-navbar),
body#body a.btn.kontaktStart {
    background-color: #e27121;
    background-image: none;
    border-radius: 30px;
    color: #fff;
    text-shadow: none;
    box-shadow: 0px 5px 40px -10px #e27121;
    border: 1px solid #e27121;
      transition: all .3s ease-in-out;
}
body#body.desktop button:hover,
body#body a.btn.kontaktStart:hover {
    background-color: #fff;
    color: #e27121;
    box-shadow: none;
}
body#body .fa-mail-forward:before,
body#body .fa-share:before {
    content: " ";
}
.item-page.home {
    /*background: rgba(226, 226, 226, 0.7);*/
    border-radius: 10px;
    text-shadow:2px 1px 1px #737373;
    max-width: 520px;
    padding: 15px;
}
.item-page.home .page-header h2 {
    display: table;
    color: #fff;
    background: var(--first-color);
    padding: 4px 5px 0px 10px;
    border-radius: 3px; 
    text-shadow: 1px 2px 10px #6b6b6b;
}
.item-page p.tel {
    background: #e27121;
    border-radius: 20px;
    padding: 10px;
    width: 320px;
    text-align: center;
    margin: 30px 0;
    text-shadow: none;
}
.item-page p.tel a {
    color: #fff;
    font-style: italic;
}
.is_home .item-page p.fn,
.is_home .item-page p.adr,
.is_home .item-page a.email {
    display: none;
}
body.desktop.is_home main#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 100px);
}
body.desktop .item-page.home .articleBody {
    max-width: 500px;
}
.item-page.home .articleBody {
    color: #fff;
}
.page-header {
    border-bottom: none;
}
.home h1 {
    color: #fff;
}
.home h1, 
.home h2[itemprop="headline"] {
    letter-spacing: 2px;
}
.home h2 {
    color: var(--first-color);
}
body.desktop.is_home .aboveTheFoldWrapper,
body.tablet.is_home .aboveTheFoldWrapper {
    background: url(/images/hintergrund-start.jpg) top left no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 70% 70%;    
}
body.phone.is_home .aboveTheFoldWrapper {
    background: url(/images/hintergrund-start-mobile.jpg) top left no-repeat;
    background-size: cover;
/*    height: 100vh;*/
    background-position: 70% 70%;    
}
body.tablet.is_home .aboveTheFoldWrapper {
    background: url(/images/hintergrund-start-tablet.jpg) top left no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 70% 70%;    
}
  
/*header*/
body #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.desktop #header {
    height: 100px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
}
body.desktop div#headerWrapper {
    display: block;
    height: 100px;
}
body.tablet div#headerWrapper {
    height: 60px;
}
#header {
    background-color: var(--first-color);
}
body.desktop.is_home #header {
    background-color: rgba(60, 147, 250, 0.5);
}
body.desktop #header {
    background-color: var(--first-color);
}
body.desktop .logoWrapper {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}
body.desktop .logoWrapper img {
    width: 350px;
    margin: 0 auto;
    display: block;
}

/*<--- END HEader*/

 /*Menue*/

.nav.menu.nav-pills {
    font-family: 'quicksandregular';
}
     @-webkit-keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: .9; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
  @keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: .9; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
.headMenu.sticky {
    background-color: rgba(60, 147, 250, 1) !important;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    opacity: 0;
    z-index: 2;
    will-change: top;
    -webkit-animation: topSlide .8s ease-in-out forwards;
            animation: topSlide .8s ease-in-out forwards;
}
body.desktop .headMenu .logoWrapper,
body.tablet .headMenu .logoWrapper {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    transition: .5s ease-in-out;
}
.headMenu.sticky .logoWrapper {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
body.desktop ul.nav li:after {
    content: ' ';
    position: absolute;
    width: 0%;
    height: 8px;
    background-color: #fff;
    bottom: 0px;
    left: 0;
    border-radius: 100%;
    z-index: 1;
    transition: height .4s linear,
                width .2s ease-in-out,
                border-radius .3s linear;
}
body.desktop ul.nav li:hover:after,
body.desktop ul.nav li.active:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0px;
    left: 0;
    border-radius: 0%;
    z-index: 1;
}
body.desktop ul.nav li {
    position: relative;
}
body#body.desktop ul.nav:hover li a { 
    color: rgb(47, 82, 164);
}
body#body.desktop  ul.nav li:hover a {
    color: #fff; 
}
body#body.desktop ul.nav ul.nav-child.dropdown-menu li a {
    color: #4792ff;
    margin-bottom: 10px;
}
body#body .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #005be0;
    border-bottom-color: #005be0;
}
body.desktop .dropdown-menu>li>a {
    padding: 8px 20px;
}
 body.desktop .navbar,
 body.tablet .navbar {
    margin: 0 50px 0 auto;
}

body.tablet .navbar {
    margin: 0 30px 0 auto;
}
body#body .navbar .nav a {
    color: #fff;
    text-shadow: none;
    transition: color .3s ease-in-out;    
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    /*color: var(--first-color);*/
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 1;
}
body.site .dropdown-menu {
    padding: 0px;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body.desktop .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff !important;
    text-decoration: none;
    background-color: #4792ff;
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #4792ff;
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #005be0;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */

/*bottom*/
body.desktop .logoContainerModule img {
    max-width: 380px;
}
.teamContent h2,
.teamContent h3 {
    line-height: 20px;
}
.teamContent h3 {
    font-size: 16px;
}
.not_home .bottom3 {
    margin-bottom: 60px;
}
.not_home.itemid-172 .bottom3 {
    margin-bottom: 0px;
}
.bottom,
.bottom2,
.scrollVisible {
    opacity: 0;
    transition: .5s ease-in-out .2s;
}
.bottom.loaded,
.bottom2.loaded,
.bottom3.loaded,
.scrollVisible.loaded {
    opacity: 1;
}

body#body.itemid-167 #module_94 {
    width: 100%;
    position: relative;
}
body#body.desktop.itemid-167 #module_94 {
    z-index: -1;
    top: -300px;
    height: 390px;
}
body#body .span12.teamVideoMargin {
    margin-left: 0px;
}
body.desktop.itemid-167 #module_96 {
    background: #fff;
}
body.desktop .teamContainer {
    min-height: 300px;
}
body.desktop div#module_96 .teamContainer {
    height: 450px;
}
.teamMember img,
.teamImg img,
.galerieItemWrapper img,
.partnerItem img,
.item-image img {
    box-shadow: 0px 10px 40px -6px #b3b3b3;
}
.ueberUns .item-image img {
    box-shadow: none;
}
/*body.desktop.itemid-167 #module_96,
body.desktop.itemid-167 footer {
    position: relative;
    bottom: 600px;
    margin-bottom: -600px;
}*/
body.desktop.itemid-167 {
    height: calc(100vh - 600px);
}
.bottom2 div#module_91 {
    text-align: center;
    margin: 50px 0;
}
.bottom2 {
    background-color: #f1f1f1;
}
body.desktop .navContainer img {
    width: 100%;
}
body.desktop .navContainer:before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(60, 147, 250, 0);
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 1s linear;
}
body.desktop .navContainer:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
}
.navContainerWrapper,
.navConDesc {
    overflow: hidden;
}
.navConDesc {
    position: relative;
    background-color: #ECECEC;
}
.navContainer {
    overflow: hidden;
    position: relative;
}
body.desktop .navContainer:hover img {
    transform: scale(1.2, 1.2);
    transition: transform 1s linear;
}
body.desktop .navContainer img {
    transform: scale(1, 1);
    transition: transform .25s linear;
}
.bottom {
    margin: 50px 0;
}
.navContainer h3,
.navContainer a,
.navContainer p {
    color: #555;
}
body.desktop .navContainer.flex {
    width: 495px;
}
.navConDesc {
    padding: 10px;
}
body.desktop .navContainerWrapper a:first-of-type div.navContainer {
    margin-right: 10px;
}

/*<-- END bottom*/
/*footer*/
footer {
    padding: 50px 0 20px;
}
.aboveFooter {
    width: 305px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}
footer a.email {
    display: none;
}
footer p.fn {
    font-size: 26px;
    padding: 20px 0 10px;
    color: #1915bd;
}
footer .adr,
footer .tel {
    font-size: 14px;
    line-height: 20px;
}
.copyWrapper.innerwidth {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 14px;
}
footer,
.copyWrapper {
    background-color: #e8e8e8;
    position: relative;
    bottom: 5px;
}
/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

/*Bilder Galerie CSS*/
body.phone div#galerieWrapper {
    text-align: center;
}
.galerieItemWrapper img {
    max-width: 305px;
    margin-bottom: 30px;
}
.hover__opacity:hover {
    opacity: 0.60;
}
.galerie__modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
body#body .galerieButton {
    color: #fff !important;
    font-size: 32px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.display-topright {
    position: absolute;
    right: 10%;
    top: 10%;
}
.galerie__modal__content {
    margin: 5% auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    text-align: center;
}
body.desktop #galerieWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.desktop .galerie__modal__content {
    width: 680px;
}
body.tablet .galerie__modal__content {
    width: 580px;
}
body.phone .galerie__modal__content {
    width: 330px;
}
@media(max-width: 736px) and (orientation: landscape) {
   body.phone .galerie__modal__content {
      width: 440px;
  } 
}
.animate-zoom {
    -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s;
}
  @-webkit-keyframes animatezoom {
    from{-webkit-transform:scale(0);transform:scale(0)} 
    to{-webkit-transform:scale(1);transform:scale(1)}
  }
  @keyframes animatezoom {
    from{-webkit-transform:scale(0);transform:scale(0)} 
    to{-webkit-transform:scale(1);transform:scale(1)}
  }

/*cookie control*/
body#body #cookiesck .cookiesck_inner a {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #2f52a4;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    float: none;
    padding: 10px 10px 10px 0px;
}  
a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #2f52a4;
    text-shadow:none;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #234da0;
}
@media(max-width: 1280px) {
  body#body.mobile div#cookiesck span {
      font-size: 14px;
  }
  body#body.phone #cookiesck_readmore {
      padding: 10px 10px 10px 0;
  }
  body#body.phone #cookiesck_accept {
      float: none;
      margin: 10px auto !important;
  }
  body#body.phone #cookiesck {
      text-align: left;
      line-height: 25px;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}