/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	body.mobile.itemid-168.tablet.linux .item-image img {
		max-width: 250px;
	}
}

@media(width: 768px) and (orientation: portrait) {
	body#body.tablet div#galerieWrapper {
	    margin: 0 0px 0 30px;
	}
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}

@media(max-width: 360px) {
	body.site.mobile .item-page p.tel {
	    width: 260px;
	}
}
@media(max-width: 480px) {
	body.site.phone #ap_ajax_qc_87 .for_captcha label {
	    width: 50px;
	}	
	body.site .ap_ajax_qc label {
	    padding: 0 0 3px 5px;
	}
	body.site.mobile #ap_ajax_qc_87 label {
	    width: 80%;
	}
}
@media(max-width: 767px) and (orientation: portrait) {
	/*critical*/
	body.phone.itemid-168 .pull-left.item-image {
	    position: absolute;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	       object-fit: cover;
	    z-index: -1;
	    opacity: 0.2;
	}	
	body.phone.is_home .aboveTheFoldWrapper {
	    height: 100vh; 
	}	
	body.mobile .partnerItem img {
		width: 200px;
	}
	body.mobile .partnerItem {
		margin: 30px auto; 
		max-width: 320px;
		display: block;
		text-align: center;
	}
}
@media(max-width: 767px) and (orientation: landscape) {
	body.mobile .pull-right.item-image img,
	body.mobile .pull-left.item-image img {
	    /*padding: 0 20px 20px 0;*/
	    max-width: 230px;
	}
	/*critical*/
	body.phone .partnerLinks {
	      display: -webkit-box;
	      display: -ms-flexbox;
	      display: flex;
	      -webkit-box-pack: justify;
	          -ms-flex-pack: justify;
	              justify-content: space-between;
	      margin: 80px 0;
	  }	
	body.phone .pull-left.item-image {
	    width: 40%;
	}
	body.mobile .partnerLinks {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    margin: 40px 0;
	}	
}
@media(max-width: 767px) {
	/*critical*/
	body#body.phone #header {
	    display: block;
	}	
	body.phone .logoWrapper {
		position: relative;
	    max-width: 60%;
	    margin: 0px 0px;
	    float: left;
	    padding: 10px 20px 5px;
	    z-index: 3;
	}
	body.phone .memberDetails p:nth-child(3) {
	    height: 0px;
	    margin: 0;
	}
	body.mobile.itemid-172 .bottom3:nth-of-type(2) .span4 {
		padding: 0px 20px;
	}	
	body.mobile .blog.leistungen .item {
	    clear: both;
	}
	body.phone .ap-btn {
	    width: 130px;
	    margin: 0 auto;
	    padding: 10px;
	}
	body.phone #ap_ajax_qc_87 input,
	body.phone #ap_ajax_qc_87 textarea,
	body.phone #ap_ajax_qc_87 .error {
	    width: 75%;
	}	
	body.phone .navContainer img {
	    width: 300px;
	}
	body.phone .navContainer {
	    width: 300px;
	    margin: 0 auto 30px;
	}	
	body.phone button.btn.btn-navbar {
	    margin: 15px 20px 0px;
	}
/*	body.phone .navbar {
	    width: 50%;
	}*/
/*	body.phone .logoWrapper {
	    max-width: 40%;
	    margin: 20px;
	}*/	
	body.phone .navbar .nav > li {
	    display: block;
	}	
	body.phone {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(min-width: 768px) {
	/*critical*/	
	body.desktop .teamMember:nth-of-type(2) {
	    margin-left: 30px;
	}		
	body.desktop .memberDetails {
   		padding: 0px 0px 0px 30px;
	}
/*	.memberDetails,
	.teamContent {
	    text-align: right;
	}*/
	.memberDetails {
   		padding: 0px 30px 0px 30px;
	    width: 50%;
	}
	.teamMember {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	}
	body.desktop .item-page.lagerraeume {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: row-reverse;
	            flex-direction: row-reverse;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
}
@media(max-width: 1024px) and (orientation: landscape){
/*	body.phone .leistungen .item-image img,
	body.phone .item-image img {
	    box-shadow: none;
	}*/

	body.phone .teamMember img {
	    margin-right: 20px;
	}
	body.phone .teamMember {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}
}
@media(max-width: 1024px) {
	body.phone .ap_ajax_qc textarea {
	    height: 100px;
	}
	body.phone div#module_92,
	body.phone .gMapsKontakt {
	    margin: 20px;
	}
	body.phone .teamImg {
	    margin-bottom: 15px;
	}
	body.phone .navbar .navbar-inner {
		padding: 0px;
	}
	body.phone .logoWrapper img {
	    width: 270px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	body.tablet .galerieItemWrapper {
	    float: left;
	    margin-right: 3em;
	}
	body.tablet div#galerieWrapper {
	    max-width: 750px;
	    margin: 0 auto;
	}
}
@media screen and (min-width: 600px) and (max-width: 1366px) and (orientation: portrait) {
	body.tablet .navContainerWrapper.flex {
	    -webkit-box-pack: space-evenly;
	        -ms-flex-pack: space-evenly;
	            justify-content: space-evenly;
	}
}
@media screen and (min-width: 600px) and (max-width: 1366px) and (orientation: landscape) {
	/*critical*/
	body.tablet .navContainer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}	
	body.tablet #galerieWrapper {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	body#body.tablet .galerieItemWrapper img {
	    width: 90% !important;
	}	
	body#body.tablet ul.nav.menu {
		margin-right: 0px;
	}	
	body#body.tablet ul.nav.menu li a {
	    font-size: 13px;
	    padding: 10px 15px;
	}
	body#body.tablet .navbar {
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;
	}
	body#body.tablet .logoWrapper {
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
	}	
}
@media(min-width: 600px) and (max-width: 1366px) {
	/*critical*/
	body.tablet .navContainerWrapper.flex {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	}
	body.tablet .navbar {
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;
	}
	body.tablet .logoWrapper {
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
	}
	body.mobile .logoWrapper {
	    padding: 10px 20px 10px;
	}
}

@media(min-width: 768px) and (max-width: 1280px) {
	
}

@media(min-width: 980px) and (max-width: 2100px) {
	/*critical*/
	body.desktop ul.nav.menu.nav-pills li a {
	    letter-spacing: calc(0.1px + (2 - 0.1 ) * ((100vw - 1280px) / (1920 - 1280 )));
	    font-size: calc(10px + (15 - 10) * ((100vw - 980px) / (1920 - 980)));
	}
}

@media(max-width: 1366px) and (orientation: portrait) {
	body.tablet .pull-left.item-image {
	    width: 50%;
	}
	body#body.tablet .blog.leistungen .pull-left.item-image {
	    width: 100%;
	}	
	body.tablet .navContainer {
		width: 245px;
	}
}

@media(max-width: 1366px) {
	/*critical*/
	body#body.mobile a.btn.kontaktStart {
	    margin: 15px 0px 0px;
	    font-size: 16px;
	    padding: 5px 15px;
	}
	body.phone .item-page p.tel {
	    width: initial;
	    display: table;
	}
	body.phone ol.breadcrumb {
	    font-size: 10px;
	}
	body.mobile .home h2[itemprop="headline"] {
	    letter-spacing: initial;
	}
	body.mobile.is_home h1 {
		font-size: 40px;
	} 
	body.tablet .nav-collapse .nav>li>a,
	body.tablet .nav-collapse .dropdown-menu a {
		padding: 9px 15px;
	}	
	body#body.tablet .nav-collapse,
	body#body.tablet .nav-collapse.collapse {
	    height: 0 !important;
	    overflow: hidden !important;
	    padding: 0 0 80px 20px;
	}
	body#body.tablet .nav-collapse.openMenu,
	body#body.tablet .nav-collapse.collapse.openMenu {
	    height: auto !important;
	}	
	body.tablet .nav-collapse ul.nav.menu.nav-pills {
	    background: #4792ff;
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0px 14px 30px -11px #4a4a4a;
	            box-shadow: 0px 14px 30px -11px #4a4a4a;
	    border-radius: 0px 0px 0px 10px;
	    padding: 30px 0px 10vh;
	    -webkit-transform: translateX(100%);
	        -ms-transform: translateX(100%);
	            transform: translateX(100%);
	    -webkit-transition: all 0s;
	    -o-transition: all 0s;
	    transition: all 0s;
	}
	body.tablet .nav-collapse.openMenu ul.nav.menu.nav-pills {
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	body#body.tablet .dropdown-menu {
	    position: initial;
	    top: initial;
	    left: initial;
	    z-index: initial;
	    display: block;
	    float: none;
	    min-width: initial;
	    padding: 5px 15px;
	    margin: 0;
	    list-style: none;
	    background-color: transparent;
	    border: none;
	    border: none;
	    border-radius: initial;
	    box-shadow: none;
	    background-clip: initial;
	}	
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 50%;
	}	
	body.tablet .navbar .nav > li {
	    display: block;
	    float: none;
	}
	body.mobile .navbar .btn-navbar .icon-bar {
	    width: 38px;
	    height: 3px;
	    border-radius: 3px;
	    box-shadow: none;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile b.caret,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after,
	body#body.mobile .navbar .nav>li>.dropdown-menu:before {
	    display: none;
	}
	body.mobile .btn-navbar .icon-bar+.icon-bar {
	    margin-top: 5px;
	}
	body.mobile button.btn.btn-navbar {
	    text-shadow: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
	    border: none;
	    position: relative;
	    z-index: 1;	    
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	}
	body.mobile .blog.leistungen .item {
	    margin-bottom: 50px;
	}
	body.tablet .item-page.kontakt h1 {
	    margin-bottom: 0;
	}
	body#body.phone div#module_92 iframe {
	    max-height: 480px;
	}	
	body.mobile #module_94 iframe {
	    width: 100% !important;
	    height: 300px !important;
	    margin: 50px 0px;
	}
	body#body.mobile video {
	    width: 100% !important;
	    left: 0 !important;
	    height: auto !important;
	    top: -100px !important;
	}
	body.mobile.tablet.itemid-165 .item-image img {
		margin: 0px 0px 15px 15px;
		max-width: 320px;
	}
	body.mobile.itemid-168.tablet .item-image img {
		max-width: 300px;
	}
	body.mobile.itemid-172 .bottom3:nth-of-type(1) .span4,
	body.mobile.itemid-172 .bottom3:nth-of-type(2) .span4 {
		width: initial;
	}
	body.mobile.itemid-172 .logoContainerModule {
		display: none;
	}
	body.mobile .kontaktAdresseWrapper,
	h3.kontaktHeader {
	    padding: 0 20px;
	}
	body.tablet .item-page.kontakt #ap_ajax_qc_87 input,
	body.tablet .item-page.kontakt #ap_ajax_qc_87 textarea,
	body.tablet .item-page.kontakt #ap_ajax_qc_87 .error {
	    width: 70%;
	}
	body.tablet .item-page.kontakt form {
	    padding: 0px 30px;
	}	
	body.mobile div#module_96,
	body.mobile .innerwidth.content {
	    padding: 0 20px;
	}
	body.mobile .teamContainer>.teamMember {
	    margin-bottom: 30px;
	}
	body.tablet .navContainerWrapper a:nth-of-type(1) .navContainer {
		margin-bottom: 50px;
		margin-right: 10px;
	}
	body#body.tablet .item-page p {
		font-size: 16px;
	}
	body#body.is_home .articleBody p:first-of-type {
	    text-shadow: 1px 1px 17px #4a4a4a, 0px 0px 21px #446da9;
	    font-size: 1.4em;
	    background: rgba(0, 0, 0, 0.4);
	    border-radius: 3px;
	    padding: 10px 10px;
/*	    letter-spacing: 1px;*/
	    line-height: 25px;
	    color: #f7f7f7;
	}	
	body#body.mobile .navbar .nav>.active>a,
	body#body.mobile .navbar .nav>.active>a:hover,
	body#body.mobile .navbar .nav>.active>a:focus {
		color: #1915bd;
	}
	body.mobile .item-page.home {
		margin: 10vh auto 0;
	}
	body#body.phone .item-page.home {
		margin: 10vh auto 30px;
	}
}
@media(min-width: 1280px) {
	/*critical*/
	body.desktop.is_home h1 {
	    font-size: 72px;
	    line-height: 65px;
	    letter-spacing: 3px;
	    margin: 20px 0;
	}	
	body.desktop.is_home .item-page .page-header h2 {
	    font-size: 30px;
	    letter-spacing: 3px;   
	}
	body.desktop.is_home .articleBody >p {
	    font-size: 20px;
	    line-height: 25px;
	}	
}
@media(min-width: 1281px) {
	/*critical*/
	body.desktop .gMapsKontakt {
	    margin: 60px 0px;
	}
	body.desktop .item-page.kontakt #ap_ajax_qc_87 input,
	body.desktop .item-page.kontakt #ap_ajax_qc_87 textarea,
	body.desktop .item-page.kontakt #ap_ajax_qc_87 .error {
	    width: 70%;
	}	
}
@media(min-width: 1367px) {
	body#body.tablet .nav-collapse.collapse {
	    height: auto!important;
	    overflow: visible!important;
	}
}
@media(min-width: 1920px) {
	/*critical*/
	body#body.site.desktop.itemid-167 div#module_94 {
	    margin: 0 auto;
	    width: 100%;
	}
}
@media(min-width: 1921px) {
	video#videoHillenbrand {
	    width: 100%;
	}
}

/*specials*/
@media(max-width: 600px) {
	/*critical*/
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 601px) {
		/*critical*/
	body.desktop #resizeAlarm {
		display: none !important;
	}
}
